body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Arial, sans-serif';
  background-image: url('assets/Fundo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container {
  text-align: center;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  background-color: #333333;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 24px;
  color: #f8f8f8;
  margin-bottom: 20px;
}

.inputContainer {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

.addButton {
  padding: 12px;
  font-size: 16px;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addButton:hover {
  background-color: #218838;
}

.userList {
  list-style-type: none;
  padding: 0;
}

.userItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f8f9fa;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.removeButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #d9534f;
}

.removeButton:hover {
  color: #c9302c;
}

.removeButton i {
  font-size: 20px;
}